.page{ 
    background-color: #f2f2f2;
    font-family: "Roboto Slab", serif;   
    overflow-x: hidden;
}
.hero-img {
    background: linear-gradient(to top left, #33ccff 0%, #0066ff 100%);
   height: 100vh;
}

.pp {
    top:25%;
    margin-top: 10rem;
    position: relative;
    bottom: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.img-side {
    height: 100vh;
    overflow-x: hidden;
    color: black;
    font-family: "Big Shoulders Display";
    font-weight: bold;
    font-size: 1.5em;
    background: linear-gradient(to top right, #ffffff 0%, #ccffff 100%);
    padding-left: -20em;
}

.name {
    font-size: 1em;
}
.descrip {
    font-size: 2.25em;
}

.descrip2 {
   font-size: 1.25em;
   font-weight: 600;
}

#touch {
    font-size: 1.5em;
    color: black;
}

#touch:hover {
    background-color: black;
    text-decoration: none;
}

#link {
    color:black;   
}
#link:hover {
    color: white;
    text-decoration: none;
}

#icons {
    color: black;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
