.page{ 
    background-color: #f2f2f2;
    font-family: "Roboto Slab", serif;   
    overflow-x: hidden;
}

.hero-img {
   background-color: #99ccff;
   height: 100vh;
   width: 50vw;
}

.pp {
    top:25%;
    margin-top: 10rem;
    position: relative;
    bottom: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-side {
    height: 100vh;
    overflow-x: hidden;
    color: black;
    font-family: "Big Shoulders Display";
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    top:15%;
}

.descrip {
    font-size: 2.5em;
}

.descrip2 {
   font-size: 1.5em;
   font-weight: 300;
}

